<!doctype html>
<html ng-app="b2">
<head>
    <title>Restangular Test</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>
</head>
<body>


<h3>Add student:</h3>
<form ng-controller="registerCtrl">
 <input placeholder="Student ID" type="text" name="studentid"  ng-model="studentInput.student_id" /><br>
 <input placeholder="Student Name" type="text" name="studentname" ng-model="studentInput.student_name"/><br>
  <input placeholder="Student Class" type="text" name="studentclass"  ng-model="studentInput.student_class" /><br>
 <input placeholder="Student Age" type="text" name="studentage" ng-model="studentInput.student_age"/><br>
 <button class="btn btn-info" ng-click="sendForm(studentInput)" type="submit">Submit</button><br>
</form>
<p>Please refresh the page to see the changes below</p>

<h3>Mark behavior and attandance:</h3>
<form ng-controller="mainCtrl">

<p>Please do not leave Student and Date fields blank</p>

<table>
        <thead>
            <tr>
                <th>Student</th>
                <!--Stopped working in django <th ng-repeat="x in behavior">{{x.behavior_name}}</th>-->
				<th>Doing Homework</th>
				<th>Disrupting Class</th>
				<th>Helping</th>
				<th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><select ng-model="behaviorInput.student_id" ng-options="x.student_name for x in student"></select></td>
				<td ng-repeat="x in behavior"><input type="checkbox" name={{x.behavior_name}} value={{x.behavior_points}} ng-model="behaviorInput[$index]"></td>
				<td><input type="date" name="attendancedate" ng-model="behaviorInput.attendance_date"><br></td>
            </tr>
        </tbody>
</table>


<button class="btn btn-info" ng-click="sendForm2(behaviorInput)" type="submit">Submit</button><br>

</form>
<p>Behavior data is currently inserted through the view. However, it is handled dynamically.</p>

	<script src="{{ STATIC_URL }}js/app_new.js"></script>
</body>
</html>